INSERT INTO public.users (email,name,"providerId","password","tfaIsActive","tfaSecret","jobTitle","location","pictureUrl",timezone,"isSystem","isActive","isVerified","mustChangePwd","createdAt","updatedAt","providerKey","localeCode","defaultEditor","lastLoginAt","dateFormat",appearance) VALUES 
('{{ user.email }}','{{ user.name }}',NULL,'$2a$12$kLQYup.WkiVZGYtxVjnxkejxR0tl7bUo6NDy3QT3Iy3YjCCnz.8p6',false,NULL,'','',NULL,'{{user.timezone | d('Europe/Bucharest')}}',false,true,true,false,'{{ lookup('pipe','date +%Y-%m-%dT-%H-%M-%S.0000') }}','{{user.timezone | d('Europe/Bucharest')}}',false,true,true,false,'{{ lookup('pipe','date +%Y-%m-%dT-%H-%M-%S.0000') }}','local','en','markdown',NULL,'','')
;